In [18]:
## Mutability of set 

# Uniqueness
st = {'A','B','C','C','C','C'}
st

{'A', 'B', 'C'}

In [22]:
## Adding of elements 
st = {'A','B','C',1,2,3}
st

st.add("INDIA")
print(st)

## remove element from a set 
print(st)

st.remove('C')
print(st)

{1, 2, 3, 'INDIA', 'B', 'A', 'C'}
{1, 2, 3, 'INDIA', 'B', 'A', 'C'}
{1, 2, 3, 'INDIA', 'B', 'A'}

In [26]:
## Frozen set 

ls = {'A',"B",'A',"B",1,2,3,4,5,}
print(type(ls))

stt = frozenset(ls)
print(type(stt))
stt

<class 'set'>
<class 'frozenset'>

frozenset({1, 2, 3, 4, 5, 'A', 'B'})

In [13]:
# Adding elements to frozen set 
stt.add(100)

AttributeError: 'frozenset' object has no attribute 'add'

In [20]:
## Remove element from a set 
stt.remove(3)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
## Features of Set 
# Unique values
# Unordered : There is no order in the set 
# Mutable : You can add and remove elements of a set

In [ ]:
## Frozenset = Features of Set + Features of Tuple 
# Uniquenss : No duplicates 
# Unordered : order in a frozenset is menaningless 
# Immutable : You cannot change the frozen set once it is created

In [29]:
## Replace
ls = {1,2,3,'A','b','c','India',3.2,4.5}
ls

{1, 2, 3, 3.2, 4.5, 'A', 'India', 'b', 'c'}

In [31]:
## indexing not working 
ls[3:3]

TypeError: 'set' object is not subscriptable

In [35]:
ls = {1,2,3,'A','b','c','India',3.2,4.5}
print(ls)
ls.remove('India')
print(ls)
ls.add('Sai_Krishna')
print(ls)

{'c', 1, 2, 3, 3.2, 'b', 4.5, 'India', 'A'}
{'c', 1, 2, 3, 3.2, 'b', 4.5, 'A'}
{'c', 1, 2, 3, 3.2, 'b', 4.5, 'Sai_Krishna', 'A'}

In [ ]:
## Control flows and functions in python

In [42]:
# if & else

x = 10 

if x == 10:
    print("Value of X is 10")
    print("Yes my answer is right")
else:
    print("Value of X is NOT 10")

Value of X is 10
Yes my answer is right

In [45]:
# if, elif , else 

x = 80

if x > 100:
    print("X greater than 100")

elif x < 10:
    print("X less than 10")
    
else:
    print("X not greater than 100 and not less than 10")

X not greater than 100 and not less than 10

In [47]:
## Find a number if its even or odd 

x = 33

if x%2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Number is odd

In [51]:
ls = [1,2,3,4,5]

print(len(ls))

ls = [1,2,3,4,"INDIANCOUNTRY"]

print(len(ls[4]))

5
13

In [56]:
ls = ['ert','set','1221']
len(ls[0])

3