In [ ]:
## Keywords : The words that have a speacial meaning in programming

## try, False, True, class, break, continue, and, as, assert, while, for, in, raise, except, or, not, if, elif, print, import,

In [3]:
True = 10

SyntaxError: cannot assign to True (2227483689.py, line 1)

In [2]:
A

10

In [ ]:
## Literal : String, character, number {int, float, complex}, Special

In [ ]:
# String - Collection of characters within quotations
'I am an Indian'

In [8]:
type('I am an Indian')

str

In [ ]:
# Numbers - Numerical values

In [9]:
## Integer
1

1

In [10]:
type(1)

int

In [11]:
## Float
1.123

1.123

In [12]:
type(1.234)

float

In [19]:
## Complex : Numbers in the form a+bj

1+2j

(1+2j)

In [17]:
type(1+2j)

complex

In [ ]:
# Special 
!
@
#
$
%
^
&
*
()
{}
''
""
-
_
+
=

NA
NULL

In [23]:
## Python is case sensitive
'a' == 'A'

False

In [37]:
## Identifiers 

_N123ame = 10 # Working

In [35]:
_N123ame

10

In [ ]:
#●	Operators ( w3 ) 

#●	Arithmetic operators
#●	Assignment operators
#●	Comparison operators
#●	Logical operators ( and or not )
#●	Identity operators ( is , isnot )
#●	Membership operators ( in notin )
#●	Bitwise operators ( & | ~ etc )

In [41]:
# Arithmetic operators
print(1 + 2)
print(2 - 3)
print(3 * 4)
print(6 / 5) #- division gives the quotient 
print(7 % 3)  #- modulus gives the reminder 
print(2 ** 3)
print(100 // 3)

3
-1
12
1.2
1
8
33

In [45]:
(1+2-3)*4

0

In [ ]:
## Operator presidence 
BODMAS : Bracket, Order, Division, Multiplication, Addition, Subtaction 
PEMDAS : Parenthesis, Exponent, Multiply, Divide, Add, Substact

In [47]:
(2*7/4)

3.5

In [49]:
## Variables 

A = 10

A,B,C = 10,20,30

In [50]:
print(A)
print(B)
print(C)

10
20
30

In [59]:
# Assignment operators 

x = 10
print(x)

x += 10  # x = x + 10
print(x)

x -= 10  # x = x - 10
print(x)

x *= 10  # x = X * 10
print(x)

x /= 10  # x = X + 10
print(x)

x %= 10  # x = X + 10
print(x)

x = 10
x //= 10  # x = X + 10
print(x)

## Refer logical gates for the below

x &= 10  # x = X & 10
print(x)

x |= 10  # x = X | 10
print(x)

x ^= 10  # x = X ^ 10
print(x)

x >>= 10  # x = X >> 10
print(x)

x <<= 10  # x = X << 10
print(x)

10
20
10
100
10.0
0.0
1
0
10
0
0
0

In [63]:
## Comparison operator 

print(10 == 10)  # Equal to 
print(10 != 10)  # Not equal to 
print(10 > 10)   # Greater than
print(10 < 10)   # Lesser than 
print(10 >= 10)
print(10 <= 10)

True
False
False
False
True
True

In [ ]:
# Logical operators : used to compare conditions

In [72]:
(2 < 5) and (20 > 15)

True

In [73]:
(2 < 5) or (20 > 15)

True

In [74]:
not( (2 < 5) and (20 > 15) )

False

In [76]:
not(False)

True

In [83]:
## Identity operator : Compare 2 objects with respect to their memory location 

a = 10 
b = 10

print(id(a))   ## Memory location
print(id(b))   ## Memory location

print(a is b)
print(a is not b)

72948279888
72948279888
True
False

In [87]:
## Membership operator : Check if a sequesce is present in a object 

a = "India"
b = "dia"

print(b in a)
print(b not in a)

True
False