In [4]:
## Pop 

## pop () - By default pop removes the last element, by giving a index of a single value we can 
# remove other elements too, Multiple elements cannot be removed

ls = [1,2,3,4,5,6,7,8,9]

print(ls)

ls.pop()
print(ls)

ls.pop(3)
print(ls)

ls.pop(-3)
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 5, 6, 7, 8]
[1, 2, 3, 5, 7, 8]

In [5]:
ls = [10,20,30,40,50,60]
del ls[2:5]

ls

[10, 20, 60]

In [15]:
import numpy as np
import pandas as pd 
import matplotlib as plt

In [9]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [31]:
a = "INDIA"
print(id(a))
#a[0] = "1I"

x = "India is a county"
print(x.replace("India","Aus"))
print(x)

2145062669424
Aus is a county
India is a county

In [33]:
a.replace("I",'A')
print(id(a))
a

2145062669424

'INDIA'

In [89]:
a = "INDIA"
print(id(a))
print(a)

a[0] = "A"  ## Imutability 

a = a.replace("I","A")
print(id(a))
print(a)

2145062669424
INDIA

TypeError: 'str' object does not support item assignment

In [93]:
ls = []

if ls: 
    print("List has elements")
else:
    print("List is empty")

List is empty

In [95]:
## Variable type in C language 
int c = 10.2222
print(c)

SyntaxError: cannot assign to function call (1760025945.py, line 1)

In [97]:
## Varibles are dynamically typed 

a = 1
print(type(a))
print(id(a))

a = 1.230000
print(type(a))
print(id(a))

a = "INDIA"
print(type(a))
print(id(a))

<class 'int'>
2144921348400
<class 'float'>
2145063973520
<class 'str'>
2145062669424

In [102]:
a = "Indian"
print(id(a))
del(a)
#print(a)

b = "Indian"
print(id(b))

2145063880304
2145063880304