In [ ]:
## Indexing Concept 
# positive 
# negative

In [1]:
## Numbers 

# Single assignment
a = 10 

print(a)

10

In [2]:
# Multiple assignment

a,b,c,d = 1,2,3,4

print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [3]:
## Strings : Anything that is within " "

a = "HAPPY BIRTHDAY"
print(a)

HAPPY BIRTHDAY

In [4]:
## Get BIRTH is postive indexing 

a[6:11]

'BIRTH'

In [5]:
## Get BIRTH is negative indexing 
a[-8:-3]

'BIRTH'

In [6]:
## Get APPY is postive indexing 
a[1:5]

'APPY'

In [7]:
## Get APPY is negative indexing 
a[-13:-9]

'APPY'

In [8]:
## Mixed indexing 
a[6:-3]

'BIRTH'

In [9]:
## Mixed indexing 
a[-8:11]

'BIRTH'

In [12]:
###### List 

## Create a empty list 

ls = []
print(ls)

type(ls)

[]

list

In [14]:
## Create a list of numbers 1 to 10 

ls = [1,2,3,4,5,6,7,8,9,10]
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
## Create a list of alphabets A,B,C,D,E,F

ls = ['A','B','C','D','E','FAIRYTALE']

print(ls[5][5:])

## mUtable 
ls[5] = 'LAPTOP'

print(ls)

TALE
['A', 'B', 'C', 'D', 'E', 'LAPTOP']

In [46]:
ls = ['SANFRANCISCO']

ls[0][7:]

'CISCO'

In [50]:
## Tuple 

tu = (1,2,3,4,5)

## Immutable 
tu[4]=500

type(tu)

TypeError: 'tuple' object does not support item assignment

In [52]:
manish = {1,2,3,4,5}
type(manish)

manish[2]

TypeError: 'set' object is not subscriptable

In [54]:
dt = {'A':1,'B':2}
type(dt)

print(dt.keys())
print(dt.values())

dict_keys(['A', 'B'])
dict_values([1, 2])

In [56]:
ls = ["SANFRANCISCO"]
ls [0] = 'ANKIT'
ls

['ANKIT']

In [ ]:
############# List operations

In [58]:
# length of a list
ls = []
len(ls)

0

In [62]:
ls = [10,20,30,10,20,30]

print(len(ls))

## Count gives the number of times a element is there in the list
ls.count(10)

6

2

In [107]:
### Adding elements to the list using append  ( This will add elements at the end of the list )

ls = []
print(ls) 

ls.append(1)
print(ls)

ls.append(2)
print(ls)

ls.append(3)
print(ls)

ls.append(['A','B'])
print(ls)

ls.append([1,2,3])
print(ls)

ls.append({1,2,3,4})
print(ls)

ls.append((23,23,23))
print(ls)

ls.append({'A':2,'B':4})
print(ls)

## Cannot add multiple elements in a single go

[]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, ['A', 'B']]
[1, 2, 3, ['A', 'B'], [1, 2, 3]]
[1, 2, 3, ['A', 'B'], [1, 2, 3], {1, 2, 3, 4}]
[1, 2, 3, ['A', 'B'], [1, 2, 3], {1, 2, 3, 4}, (23, 23, 23)]
[1, 2, 3, ['A', 'B'], [1, 2, 3], {1, 2, 3, 4}, (23, 23, 23), {'A': 2, 'B': 4}]

In [ ]:
### Insert - Will add the elements in any place of the list

In [2]:
#################### EXPLORE

ls = [1,2,3,4]

# Syntax 
# ls.insert(Position, value)

ls.insert(3,"India")
print(ls )

[1, 2, 3, 'India', 4]

In [ ]:
### Extend - Will add multiple elements

In [7]:
#################### EXPLORE

ls = [1,2,3,4]

ls.extend([10,20,30,40,50])
print(ls)

ls.extend(ls)
print(ls)

[1, 2, 3, 4, 10, 20, 30, 40, 50]
[1, 2, 3, 4, 10, 20, 30, 40, 50, 1, 2, 3, 4, 10, 20, 30, 40, 50]

In [89]:
#### Remove elements from a list 

## remove () - Remove the given element from the list

print(ls)

ls.remove({1, 2, 3, 4})
print(ls)

ls.remove(['A', 'B'])
print(ls)

[1, ['A', 'B'], [1, 2, 3], {1, 2, 3, 4}, (23, 23, 23), {'A': 2, 'B': 4}]
[1, ['A', 'B'], [1, 2, 3], (23, 23, 23), {'A': 2, 'B': 4}]
[1, [1, 2, 3], (23, 23, 23), {'A': 2, 'B': 4}]

In [108]:
## pop () - By default pop removes the last element, by giving a index of a single value we can 
# remove other elements too, Multiple elements cannot be removed

print(ls)

ls.pop()
print(ls)

ls.pop(3)
print(ls)

ls.pop(-3)
print(ls)

[1, 2, 3, ['A', 'B'], [1, 2, 3], {1, 2, 3, 4}, (23, 23, 23), {'A': 2, 'B': 4}]
[1, 2, 3, ['A', 'B'], [1, 2, 3], {1, 2, 3, 4}, (23, 23, 23)]
[1, 2, 3, [1, 2, 3], {1, 2, 3, 4}, (23, 23, 23)]
[1, 2, 3, {1, 2, 3, 4}, (23, 23, 23)]

In [87]:
ls.pop([1:3])
print(ls)

SyntaxError: invalid syntax (1840181026.py, line 1)

In [104]:
ls = [10,20,30,40,50,60]
del ls[2:5]

ls

[10, 20, 60]

In [105]:
print(ls)
print(ls.clear())

[10, 20, 60]
None