In [2]:
## For loop  : It is used to iterate through the given object 

ls = [10,20,30,40,50]


for i in ls:
    print(i)

10
20
30
40
50

In [3]:
# Tables of 2 in python 

ls = [1,2,3,4,5,6,7,8,9,10]

for i in ls:
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [4]:
## Generate table of 9 
ls = [1,2,3,4,5,6,7,8,9,10]

for i in ls:
    print(i*9)

9
18
27
36
45
54
63
72
81
90

In [5]:
## Combination of IF & FOR 

## Print the even numbers in the list 

ls = [1,2,3,4,5,6,7,8,9,10]

for i in ls: 
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [2]:
## While loop : The loop keeps on executing as long as the given condition is TRUE 

a = 1

while a<10:
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [3]:
# Run a loop till the varibale a = 0 is 15

a = 0
while a <= 15:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [5]:
## Control statements : break, continue & pass 

## Break : Inturrupt the execution and come out of the loop 

ls = [1,2,3,4,5,6,7,8,9]

for i in ls:
    print(i)
    if i == 4:
        break

1
2
3
4

In [8]:
## Break at an even number 

ls = [1,3,5,7,9,11,12,13,15,17,19]

for i in ls:
    print(i)
    if i%2==0:
        break

1
3
5
7
9
11
12

In [12]:
## Continue :  Stops the current iteration of the loop and continues with next iteration

ls = [1,2,3,4,5,6,7,8,9]

for i in ls:
    print(i)
    if i == 4:
        print(i)
        continue
        print("Loop executed fully")

1
2
3
4
4
5
6
7
8
9

In [11]:
a = 0 

while a < 10:
    a+=1
    if a == 4:
        continue
    print(a)

1
2
3
5
6
7
8
9
10

In [1]:
## While loop : The loop keeps on executing as long as the given condition is TRUE

a = 1

while a < 10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9

In [15]:
## Continue the tables of 2 without 10

ls = [1,2,3,4,5,6,7,8,9,10]

for i in ls:
    if i*2 == 10:
        continue
    print(i*2)

2
4
6
8
12
14
16
18
20

In [21]:
## pass : it will just let the iterator to pass

ls = [1,2,3,4,5,6,7]

for i in ls:
    pass

In [25]:
ls = [1,2,3,4,5,6,7]

for i in ls:
    if i == 4:
        pass
        #print(' This is a passed block')
    print(i)

1
2
3
4
5
6
7

In [26]:
## Functions : Functions are set of reusable codes 

## Function to print a welcome message 

def welcome():
    print(" Hi, Welcome to the Python Session !!")

In [34]:
welcome()

 Hi, Welcome to the Python Session !!

In [1]:
## Function to create the tables of a given number 

def tabl(a):
    i = 1
    while i <= 10:
        print(i*a)
        i += 1

In [4]:
tabl(9)

9
18
27
36
45
54
63
72
81
90

In [5]:
## Create a function to add 2 numbers 

def sumnum(a,b):
    print(a+b)

In [6]:
sumnum(10,20)

30

In [9]:
## Default input is a string 

a = input("Type the input")
print(a)
type(a)

Type the input12345
12345

str

In [ ]:
## Simple calculator using python 

## take input of 2 numbers from user 
## take input of operation from user (add, subt, mult, divi)
## give the output

In [24]:
## range funtion in python : Create a sequence of numbers

## Syntax 

# range(start, stop, step)

#start defaut = 0
#stop is mandatory 
#step is optional : default is 1

a = range(0,20,1)
print(a)

a = list(range(0,20,1))
print(a)

range(0, 20)
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
## Lambda function : Function without name ( anonymous )
## it can take any number of arguments

#Syntax : 

# lambda arguments : expresssion 

x = lambda a : a+12

print(x(3))

type(x)

15

function

In [27]:
## using lambda add 4 numbers 

x = lambda a,b,c,d : a+b+c+d

print(x(1,2,3,4))

10

In [2]:
def tabl(a):
    i = 1
    while i<10:
        print(i*a)
        i+=1

In [3]:
tabl(2)

2
4
6
8
10
12
14
16
18